﻿@using la_mia_pizzeria_crud_mvc.Data
@model Pizza

<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Name" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Description" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Price" class="d-block w-100" />
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Crea">
        </div>
    </form>
</div>
